@import url(navbar.css);
@import url(hero.css);
@import url(card.css);
@import url(footer.css);

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Align sections to center */
    padding: 1rem 0; /* Separate content from hero/navbar/footer */
}

/* Section styling */
section {
    max-width: 70rem; /* Typography standard */
    width: calc(100% - 4rem);
}

section h2 {
    text-align: center; /* Titles are centered */
}

/* Add figure element decoration */
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 2rem;
    background: linear-gradient(#ffffff00, #90909038);
    border: 1px solid rgba(0, 0, 0, 0.2);

    border-radius: 1rem;
    transition: 0.2s;
}

figure > img {
    /* Scale the image to the device's screen */
    width: min(15rem, 40vw);
    object-fit: contain;
}

figure > figcaption {
    margin-top: 0.5rem;
    font-style: italic;
}

/* Float styling for figure elements */
@media (max-width: 500px) {
    .left > figure, .right > figure {
        float: none !important; /* Make this override */
    }
}

.left > figure {
    float: left;
}

.right > figure {
    float: right;
}

/* Using translate to indent lists */
ul, ol {
    padding: 0;
}

li {
    transform: translateX(1.5rem);
    margin-right: 1.5rem;
}

/* Blockquote deco */
blockquote {
    font-style: italic;
    font-size: 1.1rem;
}

/* List styling */
ol.upper-roman {
    list-style-type: upper-roman;
}



/* Icons for list */

/* https://iconscout.com/free-icon/code-1767550 */
li#coding {
    list-style-image: url("../assets/coding.png");
}

/* https://icon-icons.com/icon/open-book-black-cover/56250 */
li#reading {
    list-style-image: url("../assets/reading.png");
}

/* https://iconscout.com/icons/gamepad-near-computer?price=free */
li#gaming {
    list-style-image: url("../assets/gaming.png");
}

/* https://iconscout.com/free-icon/flag-586 */
li#participating {
    list-style-image: url("../assets/participating.png");
}



/* section specific icons */
section > h2::before {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem 0 0;
    content: '';
    vertical-align: text-bottom;
    background-position: center;
    background-size: cover;
}

/* https://www.needpix.com/photo/download/23083/fire-yellow-flame-red-burn-blaze-warm-fiery-bright */
#crisis > h2::before {
    background-image: url('../assets/fire.png');
}

/* https://www.needpix.com/photo/92980/block-cube-sugar-white */
#instances > h2::before {
    background-image: url('../assets/block.png');
}

/* https://www.needpix.com/photo/594643/check-mark-tick-mark-check-correct-ok-yes-green */
#mitigation > h2::before {
    background-image: url('../assets/checkmark.png');
}

/* https://www.needpix.com/photo/91949/book-reading-library-education-knowledge-literature-read */
#references > h2::before {
    background-image: url('../assets/book.png');
}

/* https://www.queensu.ca/social-impact/ */
#sdgs > h2::before {
    background-image: url('../assets/sdgs.png');
}

/* https://www.needpix.com/photo/640388/target-dart-aim-objective-success-goal-game-dartboard-perfect/ */
#personal-goals > h2::before {
    background-image: url('../assets/target.png');
}

/* https://www.needpix.com/photo/233231/question-mark-question-mark-surprise-astonishment/ */
#who-we-are > h2::before {
    background-image: url('../assets/questionmarks.png');
}

/* https://www.needpix.com/photo/559520/person-icon-pip-people-people-icon-person-icon-figure-flat */
#who-i-am > h2::before {
    background-image: url('../assets/person.png');
}

/* https://iconscout.com/free-icon/connection-2689539 */
#contact > h2::before {
    background-image: url('../assets/connection.png');
}

