@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(content.css);

html {
    font-family: 'Montserrat', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    /* Since the navbar takes 4rem vertically, offset content by 4rem using margin */
    margin: 4rem 0 0 0;

    /* Prevent scrolling on x-axis for some devices */
    overflow-x: hidden;
}

a {
    /* Looks cleaner */
    text-decoration: none;
}